<!DOCTYPE html>
<html lang="$lang$">
<head>
<meta charset="utf-8">
<title>$title$</title>
$for(css)$
<link rel="stylesheet" href="$css$">
$endfor$
</head>
<body>

<div class="titlepage">
  <div class="titlepage-brand">
    <img class="titlepage-logo-img" src="templates/logo.png" alt="Paenz e. V.">
    <h1 class="titlepage-title">$title$</h1>
  </div>
  $if(version)$<span class="meta-version-hidden">$version$</span>$endif$
  $if(date)$<div class="titlepage-date">Stand $date$</div>$endif$
</div>

$if(table-of-contents)$
<div class="toc">
<h2>Inhaltsverzeichnis</h2>
$table-of-contents$
</div>
$endif$

<div class="content">
$body$
</div>

</body>
</html>
